<ng-container>
  <div class="game-details-container">
    <span class="justify-center fs-smaller">{{away.conference.split(' ')[0]}} - {{away.division}}</span>
    <span></span>
    <span class="justify-center fs-smaller">{{home.conference.split(' ')[0]}} - {{home.division}}</span>
    <a class="justify-center fs-smaller" [routerLink]="'/pitchers/' + game.probableStartingPitchers.away">
      <span>{{playersMap.get(game.probableStartingPitchers.away)?.longName}}</span>
    </a>
    <span></span>
    <a class="justify-center fs-smaller" [routerLink]="'/pitchers/' + game.probableStartingPitchers.home">
      <span>{{playersMap.get(game.probableStartingPitchers.home)?.longName}}</span>
    </a>
  </div>
</ng-container>

