<ng-content></ng-content>
<div class="frame">
  <div class="flex-column  column" *ngIf="away">
    <span>{{ away }}</span>
    <span>{{ awayOffensiveStats.gamesRepresentedInData }}</span>
    <span>{{ awayOffensiveStats.AVG }}</span>
    <span>{{ awayOffensiveStats.SLG }}</span>
    <span>{{ awayOffensiveStats.OBP }}</span>
    <span>{{ awayOffensiveStats.OPS }}</span>
    <span>{{ awayOffensiveStats.wOBA }}</span>
    <span>{{ awayOffensiveStats.wRC }}</span>
  </div>

  <div class="flex-column  column">
    <span>Teams</span>
    <span>Games Included</span>

    <div class="flex-row stat-name">
      <mat-icon [class.invisible]="awayOffensiveStats.AVG < homeOffensiveStats.AVG">arrow_left</mat-icon>
      <span>Batting Average</span>
      <mat-icon [class.invisible]="awayOffensiveStats.AVG > homeOffensiveStats.AVG">arrow_right</mat-icon>
    </div>

    <div class="flex-row stat-name">
      <mat-icon [class.invisible]="awayOffensiveStats.SLG < homeOffensiveStats.SLG">arrow_left</mat-icon>
      <span>Slugging</span>
      <mat-icon [class.invisible]="awayOffensiveStats.SLG > homeOffensiveStats.SLG">arrow_right</mat-icon>
    </div>

    <div class="flex-row stat-name">
      <mat-icon [class.invisible]="awayOffensiveStats.OBP < homeOffensiveStats.OBP">arrow_left</mat-icon>
      <span>On Base Percentage</span>
      <mat-icon [class.invisible]="awayOffensiveStats.OBP > homeOffensiveStats.OBP">arrow_right</mat-icon>
    </div>

    <div class="flex-row stat-name">
      <mat-icon [class.invisible]="awayOffensiveStats.OPS < homeOffensiveStats.OPS">arrow_left</mat-icon>
      <span>On Base plus Slug</span>
      <mat-icon [class.invisible]="awayOffensiveStats.OPS > homeOffensiveStats.OPS">arrow_right</mat-icon>
    </div>

    <div class="flex-row stat-name">
      <mat-icon [class.invisible]="awayOffensiveStats.wOBA < homeOffensiveStats.wOBA">arrow_left</mat-icon>
      <span>Weighted OBA</span>
      <mat-icon [class.invisible]="awayOffensiveStats.wOBA > homeOffensiveStats.wOBA">arrow_right</mat-icon>
    </div>

    <div class="flex-row stat-name">
      <mat-icon [class.invisible]="awayOffensiveStats.wRC < homeOffensiveStats.wRC">arrow_left</mat-icon>
      <span>Weighted Runs Created</span>
      <mat-icon [class.invisible]="awayOffensiveStats.wRC > homeOffensiveStats.wRC">arrow_right</mat-icon>
    </div>

    <span>Point Differential</span>
  </div>

  <div class="flex-column  column" *ngIf="home">
    <span>{{ home }}</span>
    <span>{{ homeOffensiveStats.gamesRepresentedInData }}</span>
    <span>{{ homeOffensiveStats.AVG }}</span>
    <span>{{ homeOffensiveStats.SLG }}</span>
    <span>{{ homeOffensiveStats.OBP }}</span>
    <span>{{ homeOffensiveStats.OPS }}</span>
    <span>{{ homeOffensiveStats.wOBA }}</span>
    <span>{{ homeOffensiveStats.wRC }}</span>
  </div>
</div>