<ng-content></ng-content>
<div class="frame">
  <div class="flex-column" *ngIf="away">
    <span>{{ away }}</span>
    <span>{{ awayOffensiveStats.gamesRepresentedInData }}</span>
    <span>{{ awayOffensiveStats.BattingAverage }}</span>
    <span>{{ awayOffensiveStats.Slugging }}</span>
    <span>{{ awayOffensiveStats.OnBasePercentage }}</span>
    <span>{{ awayOffensiveStats.OnBasePlusSlugging }}</span>
    <span>{{ awayOffensiveStats.weightedOnBaseAverage }}</span>
  </div>

  <div class="flex-column">
    <span>Teams</span>
    <span>Games Included</span>
    <span>Batting Average</span>
    <span>Slugging</span>
    <span>On Base Percentage</span>
    <span>On Base plus Slug</span>
    <span>Weighted OBA</span>
    <span>wRC</span>
    <span>Point Differential</span>
  </div>

  <div class="flex-column" *ngIf="home">
    <span>{{ home }}</span>
    <span>{{ homeOffensiveStats.gamesRepresentedInData }}</span>
    <span>{{ homeOffensiveStats.BattingAverage }}</span>
    <span>{{ homeOffensiveStats.Slugging }}</span>
    <span>{{ homeOffensiveStats.OnBasePercentage }}</span>
    <span>{{ homeOffensiveStats.OnBasePlusSlugging }}</span>
    <span>{{ homeOffensiveStats.weightedOnBaseAverage }}</span>
  </div>
</div>