.frame {
  display: flex;
  flex-direction: row;
}

.column, .frame {
  flex-grow: 1;
}

span {
  text-align: center;
}

.stat-name {
  justify-content: space-between;
}

.invisible {
  visibility: hidden;
}