<ng-container *ngIf="!(handsetPortrait$ | async); else mobileSlate">
  <div class="date-selector">
    <mat-chip-listbox>
      @for (date of dates; track date) {
        <mat-chip-option [value]="date"
                         [selected]="date === selectedDate"
                         (selectionChange)="chooseDate(date)">{{ getDate(date) | date }}
        </mat-chip-option>
      }
    </mat-chip-listbox>
    <mat-divider vertical class="divider"></mat-divider>
    <mat-slide-toggle [(ngModel)]="showTeamCity">{{ showTeamCity ? 'Team City' : 'Team Name' }}</mat-slide-toggle>
    <mat-divider vertical class="divider"></mat-divider>
    <span>{{ expertName }}</span>
    <div class="spacer"></div>

    <mat-form-field>
      <mat-label>Analyst</mat-label>
      <input matInput placeholder="Analyst Name" [(ngModel)]="expertName" [ngModelOptions]="{standalone: true}">
    </mat-form-field>

    <button mat-raised-button (click)="addExpertToSlate()">
      Add Analyst
    </button>


  </div>
  <div class="container-grid">
    <slate-details
      [games]="(games$ | async)!"
      [getTeamName]="showTeamCity"
      [teams]="teams"></slate-details>
    <slate-form [teams]="teams"
                [games]="(games$ | async)!"
                [expertsData]="(experts$ | async)!"
                (updateSlate)="updateSlateFromSelection($event)"
                (saveExpertPredictions)="updateSlate($event)"></slate-form>
  </div>
</ng-container>

<ng-template #mobileSlate>
  <div class="flex-column">
    <mat-chip-listbox [multiple]="false">
      <div class="flex-row date-selector-container" #dateSelector>
        @for (date of dates; track date) {
          <mat-chip-option class="dates"
                           [value]="date"
                           [selected]="date === selectedDate"
                           (selectionChange)="chooseDate(date)">{{ getDate(date) | date }}
          </mat-chip-option>
        }
      </div>
    </mat-chip-listbox>

    <mat-radio-group aria-label="Select an option"
                     [(ngModel)]="mobileSelectedExpert"
                     [ngModelOptions]="{standalone: true}">
      @for (expert of (experts$ | async)!; track $index) {
        <mat-radio-button [value]="expert.name">{{ expert.name }}</mat-radio-button>
      }
    </mat-radio-group>


    <div class="flex-row">
      <div *ngIf="(games$ | async) as games" class="flex-column padding-left-10 game-details-container">
        @for (game of games; track game) {
          <div class="flex-column game-details">
            <span
              class="fs-smaller fw-200">{{ game.away }}&nbsp;{{ teams.getAwayTeamName(game) }}&nbsp;({{ teams.getAwayTeamWins(game) }}
              - {{ teams.getAwayTeamLoss(game) }})</span>
            <span
              class="fs-smaller fw-200">{{ game.home }}&nbsp;{{ teams.getHomeTeamName(game) }}&nbsp;({{ teams.getHomeTeamWins(game) }}
              - {{ teams.getHomeTeamLoss(game) }})</span>
          </div>
          <mat-divider class="divider-mobile"></mat-divider>
        }
      </div>
      <slate-form [mobile]="true"
                  [mobileExpertSelected]="mobileSelectedExpert"
                  [teams]="teams"
                  [games]="(games$ | async)!"
                  [expertsData]="(experts$ | async)!"
                  (updateSlate)="updateSlateFromSelection($event)"
                  (saveExpertPredictions)="updateSlate($event)"></slate-form>
    </div>
  </div>
</ng-template>
