<mat-radio-group class="flex-row"
                 (change)="selectSplits()"
                 [(ngModel)]="statsSource">
  <mat-radio-button [value]="StatsSource.Split">Split</mat-radio-button>
  <mat-radio-button [value]="StatsSource.Both" checked>Both</mat-radio-button>
</mat-radio-group>

<div class="frame">
  <div class="flex-column" *ngIf="away">
    <span>{{away.teamName}}</span>
    <span>{{awayOffensiveStats.BattingAverage}}</span>
    <span>{{awayOffensiveStats.Slugging}}</span>
    <span>{{awayOffensiveStats.OnBasePercentage}}</span>
    <span>{{awayOffensiveStats.OnBasePlusSlugging}}</span>
    <span>{{awayOffensiveStats.weightedOnBaseAverage}}</span>
  </div>

  <div class="flex-column">
    <span>Teams</span>
    <span>Batting Average</span>
    <span>Slugging</span>
    <span>On Base Percentage</span>
    <span>On Base plus Slug</span>
    <span>Weighted OBA</span>
  </div>

  <div class="flex-column" *ngIf="home">
    <span>{{home.teamName}}</span>
    <span>{{homeOffensiveStats.BattingAverage}}</span>
    <span>{{homeOffensiveStats.Slugging}}</span>
    <span>{{homeOffensiveStats.OnBasePercentage}}</span>
    <span>{{homeOffensiveStats.OnBasePlusSlugging}}</span>
    <span>{{homeOffensiveStats.weightedOnBaseAverage}}</span>
  </div>
</div>
