.frame {
  display: flex;
  flex-direction: row;
}

div {
  flex-grow: 1;
}

span {
  text-align: center;
}

mat-radio-button {
  flex: 1 1 0
}

ng-select {
  margin: 0 15px;
}

.mat-button-toggle-group {
  /*height: 1rem;*/
  align-items: center;
}