<mat-tab-group animationDuration="0ms">
  <mat-tab label="Teams">
    <div class="mat-tabs">
      <team-vs-team
        [away]="Away"
        [home]="Home"
        [awayOffensiveStats]="awayOffensiveStats"
        [homeOffensiveStats]="homeOffensiveStats">
        <mat-button-toggle-group
          class="button-group"
          [(ngModel)]="statsSource"
          (change)="selectSplits()"
          [hideSingleSelectionIndicator]="true">
          <mat-button-toggle class="button" [value]="StatsSource.Season">Season
          </mat-button-toggle>
          <mat-button-toggle class="button" [value]="StatsSource.Split">Splits
            (Site)
          </mat-button-toggle>
          <mat-button-toggle class="button" [value]="StatsSource.Teams">vs Teams
          </mat-button-toggle>
        </mat-button-toggle-group>
      </team-vs-team>
 </div>
  </mat-tab>
  <mat-tab label="Bullpen Splits">
    <div class="mat-tabs">
      <bullpen-splits
        [game]="selectedGame">
      </bullpen-splits>
    </div>
  </mat-tab>
  <mat-tab label="Pitchers">
    <div class="mat-tabs">
      <pitcher-vs-pitcher
        [game]="selectedGame">
      </pitcher-vs-pitcher>
    </div>
  </mat-tab>
</mat-tab-group>
