<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>{{ selectedPage }}</h1>
</mat-toolbar>
<mat-sidenav-container autosize>
  <mat-sidenav mode="over">
    <mat-nav-list>
      <a mat-list-item (click)="navigate(RouterPages.NO_RUNS_FIRST_INNING)">
        <span class="entry">
          <mat-icon>house</mat-icon>
          <span>NRFI</span>
        </span>
      </a>
      <a mat-list-item (click)="navigate(RouterPages.ANALYSIS)">
        <span class="entry">
          <mat-icon>house</mat-icon>
          <span>PROPS</span>
        </span>
      </a>
      <a mat-list-item (click)="navigate(RouterPages.SLATE)">
        <span class="entry">
          <mat-icon>house</mat-icon>
          <span>SLATE</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
