<div class="container">
  @for (game of dailySchedule; track game.gameID) {
    <mat-card
      appearance="outlined"
      [class.selected]="game.gameID === selectedGame.gameID"
      (click)="onGameSelected(game)">
      <div class="image-container">
        <img alt="none" [ngSrc]="teams.getTeamLogo(game.away)" fill>
      </div>
      <span>VS.</span>
      <div class="image-container">
        <img alt="none" [ngSrc]="teams.getTeamLogo(game.home)" fill>
      </div>
    </mat-card>
  }
</div>
