:host {
  padding-right: 5px;
}

.image-container {
  height: 1rem;
  width: 1.24rem;
  position: relative;
  display: inline-block;
}

.mdc-data-table__cell, .mdc-data-table__header-cell {
  padding: 0 5px;
  border-right: 1px solid currentColor;
  text-align: center;
}

.mat-mdc-row:nth-of-type(4n+3), .mat-mdc-row:nth-of-type(4n+3) + * {
  background-color: dimgray;
}

.mat-column-oppTeamAbv {
  padding: 0;
}
