<mat-tab-group>
  <mat-tab label="Picks">
    <ng-template matTabContent>
      <div class="container">
        <app-picks
          [slate]="convertToSlate((picks$ | async)!)"
          [schedules]="(schedules$ | async)!"
          [dailySchedule]="(dailySchedule$ | async)!"
          [teamSchedulesWithBoxScores]="(boxScores$ | async)!"
          [teams]="(teams$ | async)!"></app-picks>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Charts">
    <ng-template matTabContent>
      <div class="container">
        <app-charts></app-charts>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Analysis">
    <ng-template matTabContent>
      <div class="container">
        <analysis-component
          [games]="(dailySchedule$ | async)!"
          [teams]="(teams$ | async)!"
          [teamSchedules]="(boxScores$ | async)!"></analysis-component>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
