<mat-tab-group>
  <mat-tab label="Slate">
    <ng-template matTabContent>
      <div class="container">
        <slate-container
          [slates]="(slates$ | async)!"
          [schedules]="(schedules$ | async)!"
          [dailySchedule]="(dailySchedule$ | async)!"
          [boxScoreSchedule]="(boxScores$ | async)!"
          [teams]="(teams$ | async)!"></slate-container>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Analysis">
    <ng-template matTabContent>
      <div class="container">
        <analysis-component
          [games]="(dailySchedule$ | async)!"
          [teams]="(teams$ | async)!"
          [teamSchedules]="(boxScores$ | async)!"></analysis-component>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
