<div class="container-item" [ngStyle]="getStyles()">
  <span>Time</span>
  <span>Away</span>
  <span></span>
  <span>Home</span>
  <ng-container *ngFor="let game of games">
    @if (getTeamName) {
      <span>{{ getStartTimeString(game.gameTime) }}</span>
      <span>{{ teams.getAwayTeamCity(game) }}</span>
      <span>vs.</span>
      <span>{{ teams.getHomeTeamCity(game) }}</span>
    } @else {
      <span>{{ getStartTimeString(game.gameTime) }}</span>
      <span>{{ teams.getAwayTeamName(game) }}</span>
      <span>vs.</span>
      <span>{{ teams.getHomeTeamName(game) }}</span>
    }
  </ng-container>
</div>
