:host {
  width: min-content;
}

.container-item {
  flex-basis: 0;
  padding: 5px;
}

.container-item > * {
  margin: auto 0;
  text-align: center;
}

.container-item > *:nth-child(4n) {
  text-align: left;
}

.container-item > *:nth-child(4n + 2) {
  text-align: right;
}
