:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 0;
}

h3 {
  width: 100%;
  text-align: center;
}


span {
    width: max-content;
}

.image-container {
  height: 35px;
  width: 35px;
  position: relative;
  margin: 0 15px;
}
