<form [formGroup]="form" class="form">
  <div [ngStyle]="getPicksStyle()" formArrayName="analysts">
    <ng-container *ngFor="let analyst of analysts().controls; let analystIndex = index">
      <span>{{ analyst['value']['firstName'] }}</span>
      <ng-container [formGroupName]="analystIndex">
        <ng-container formArrayName="picks">
          <ng-container *ngFor="let pick of analystPicks(analystIndex).controls; let i=index">
            <ng-container [formGroupName]="i">
              <ng-select appearance="outline"
                         formControlName="pick"
                         [class]="getBorderColor(pick)"
                         [clearable]="false">
                @if (games[i]) {
                  <ng-option [value]="teams.getHomeTeam(games[i])">
                    {{ teams.getHomeTeam(games[i]) }}
                  </ng-option>
                  <ng-option [value]="teams.getAwayTeam(games[i])">
                    {{ teams.getAwayTeam(games[i]) }}
                  </ng-option>
                }
              </ng-select>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</form>
