.container {
  display: flex;
  flex-direction: row;
  overflow: auto;
  width: 100%;
}

.image-container {
  height: 35px;
  width: 35px;
  position: relative;
}

mat-card:hover {
  transition: .25s;
  border: 2px solid #0077ff;
}

mat-card {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: fit-content;
  padding: 5px 10px;
  margin: 5px;
  border: 2px solid rgba(0,0,0,0);
}

.selected {
  background-color: gray;
}
