<game-selected
  [home]="(home$ | async)!"
  [away]="(away$ | async)!"
  [game]="(game$ | async)!"></game-selected>

<game-details
  [home]="(home$ | async)!"
  [away]="(away$ | async)!"
  [game]="(game$ | async)!"></game-details>

<analysis-component-view
  [teams]="teams"
  [game]="(game$ | async)!"
  [homeMLBTeamSchedule]="(homeTeamSchedule$ | async)!"
  [awayMLBTeamSchedule]="(awayTeamSchedule$ | async)!"
  [awayTeamAnalytics]="(awayTeamAnalytics$ | async)!"
  [homeTeamAnalytics]="(homeTeamAnalytics$ | async)!"></analysis-component-view>

<game-selector
  [teams]="teams"
  [game]="(game$ | async)!"
  [dailySchedule]="dailySchedule"
  (gameSelected)="selectGame($event)"></game-selector>
