<game-selected
  [home]="(home$ | async)!"
  [away]="(away$ | async)!"
  [game]="(game$ | async)!"></game-selected>


<analysis-component-view
  [teams]="teams"
  [game]="(game$ | async)!"
  [boxScoreSchedule]="boxScoreSchedule"
  [awayTeamAnalytics]="(awayTeamAnalytics$ | async)!"
  [homeTeamAnalytics]="(homeTeamAnalytics$ | async)!"></analysis-component-view>

<game-selector
  [teams]="teams"
  [game]="(game$ | async)!"
  [dailySchedule]="dailySchedule"
  (gameSelected)="selectGame($event)"></game-selector>
