<mat-chip-listbox>
  @for (rawDate of datesAvailable; track rawDate) {
    <mat-chip-option [value]="rawDate"
                     [selected]="rawDate === getCurrentDay()"
                     (selectionChange)="changeDate(rawDate)">{{ getDateString(rawDate) }}</mat-chip-option>
  }
</mat-chip-listbox>

<app-picks-view
  [games]="(games$ | async)!"
  [teams]="teams"
  [picks]="(pick$ | async)!"
  (addAnalystToPicks)="addAnalystToPicks($event)"
  (savePicks)="savePicks($event)"></app-picks-view>
