<form [formGroup]="form" class="form">
  <div formArrayName="experts">
    <ng-container *ngFor="let expert of experts.controls; let expertIndex = index">
      <slate-predictions
        [isMobile]="mobile"
        [class.hide]="isSelectedExpert(expert)"
        [form]="getExpertFormGroup(expertIndex)"
        [games]="games"
        [expert]="getExpertData(expertIndex)"
        [teams]="teams"
        (newSelectionMade)="updateSlateAfterSelection()"
        [index]="expertIndex"></slate-predictions>
    </ng-container>
  </div>
</form>
