.runs-first-inning-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.no-runs-first-inning {
  display: flex;
  flex-direction: row;
}

.label {
  align-self: center;
}

.spacer {
  flex-grow: 1;
}
