/* You can add global styles to this file, and also import other style files */
.mat-mdc-tab-body-wrapper {
  flex-grow: 1;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.fs-smaller {
  font-size: smaller;
}

.fw-200 {
  font-weight: 200;
}

.align-center {
  align-items: center;
}

.flex-grow {
  flex-grow: 1;
}

.padding-left-10 {
  padding-left: 10px;
}

.padding-right-10 {
  padding-right: 10px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.width-100 {
  width: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Tangerine", sans-serif; font-weight: 300 }
