.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: auto;
  /*padding: 0 10px 10px;*/
  /*margin: 2px;*/
  width: 100%;
}

mat-card:hover {
  transition: .25s;
  border: 2px solid #0077ff;
}

mat-card {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: fit-content;
  padding: 5px 10px;
  margin: 5px;
  border: 2px solid rgba(0,0,0,0);
}

.selected {
  background-color: gray;
}

h3 {
  width: 100%;
  text-align: center;
}
